/* =====================================
   ADMIN SIDEBAR
===================================== */

.admin-sidebar{
    width:260px;
    min-height:100vh;
    background:#111827;
    color:#fff;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    position:sticky;
    top:0;
}

.sidebar-logo{
    padding:30px 20px;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.sidebar-logo h2{
    font-size:22px;
    margin-bottom:5px;
    letter-spacing:1px;
}

.sidebar-logo span{
    color:#9ca3af;
    font-size:13px;
}

.sidebar-menu{
    display:flex;
    flex-direction:column;
    padding:20px 12px;
    gap:8px;
    flex:1;
}

.sidebar-link{
    display:flex;
    align-items:center;
    gap:14px;

    text-decoration:none;

    color:#d1d5db;

    padding:14px 16px;

    border-radius:10px;

    transition:.3s;
}

.sidebar-link:hover{
    background:#1f2937;
    color:#fff;
}

.sidebar-link.active{
    background:#2563eb;
    color:#fff;
}

.sidebar-link svg{
    font-size:18px;
}

.logout-btn{

    margin:20px;

    border:none;

    background:#ef4444;

    color:#fff;

    height:48px;

    border-radius:10px;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:12px;

    cursor:pointer;

    transition:.3s;
}

.logout-btn:hover{
    background:#dc2626;
}

/* ==========================
 Tablet
========================== */

@media(max-width:992px){

.admin-sidebar{
    width:220px;
}

}

/* ==========================
 Mobile
========================== */
/*
@media(max-width:768px){

.admin-sidebar{

    position:fixed;

    left:-260px;

    top:0;

    z-index:999;

    transition:.35s;

}

.admin-sidebar.active{

    left:0;

}

}*/

/* ==========================
 Mobile
========================== */

@media (max-width:768px) {

.admin-sidebar{

    position: fixed;

    top: 0;
    left: -260px;

    width: 260px;
    height: 100vh;

    z-index: 1000;

    transition: left .35s ease;
}

/* React adds this class */
.admin-sidebar.open{

    left: 0;

}

}