/* ==========================================
   ADMIN LAYOUT
========================================== */

.admin-layout {
  width: 100%;
  min-height: 100vh;

  background: #f5f7fb;

  box-sizing: border-box;
}


/* ==========================================
   MAIN AREA
========================================== */

.admin-main {
  width: calc(100% - 318px);

  min-height: 100vh;

  margin-left: 318px;

  box-sizing: border-box;
}


/* ==========================================
   CONTENT
========================================== */

.admin-content {
  width: 100%;

  min-height: calc(100vh - 72px);

  box-sizing: border-box;
}


/* ==========================================
   TABLET
========================================== */

@media (max-width: 1200px) {

  .admin-main {
    width: calc(100% - 280px);

    margin-left: 280px;
  }

}


/* ==========================================
   MOBILE
========================================== */

@media (max-width: 600px) {

  .admin-main {
    width: 100%;

    margin-left: 0;
  }

}